<!DOCTYPE html>
<html>
<head>
	<title>Testing</title>
	<script src="ejs.js"></script>
</head>
<body>
	<p><%= data %></p>
	<h1>Mainpage</h1>
	<form action="/" method="POST">
		<input type="search" id="movie-search" name="query">
		<input type="submit" value="Search" />
		<br>
		<h2>Search Settings</h2>
		Search by Trait:
		<select class="querycategory" data-style="btn-info" name="querycategory">
			<optgroup label="Select Category">
				<option name="" value="none">Select category</option>
				<option name="id" value="id">ID</option>
				<option name="name" value="name">Name</option>
				<option name="date" value="date">Date</option>
				<option name="rating" value="rating">Rating</option>
				<option name="agerating" value="agerating">Age Rating</option>
			</optgroup>
		</select>
    </form>

    <div id="results">
    	<% data.forEach(function(row) { %>
    		<div class="result" style="background-color: #eee;">
	    		<h3>Alivepool</h3>
	    		<p>Wade Wilson (Ryan Reynolds) is a former Special Forces operative who now works as a mercenary. His world comes crashing down when evil scientist Ajax (Ed Skrein) tortures, disfigures and transforms him into Deadpool. The rogue experiment leaves Deadpool with accelerated healing powers and a twisted sense of humor. With help from mutant allies Colossus and Negasonic Teenage Warhead (Brianna Hildebrand), Deadpool uses his new skills to hunt down the man who nearly destroyed his life.</p>
    		</div>
    	<% }); %>

    	</div>
    </div>
</body>

<script>
  var name = "{{ data }}";
  console.log(data);
</script>
</html>
